# Dillards POS Data Association Rules Project

    Charlie Marshall
    IEMS 308
    13 February 2020

## Loading Relevant Packages

In [1]:
import os
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## Loading Relevant Data Sets from Dillards POS Data

In [2]:
deptinfo = pd.read_csv("/Users/charlesmarshall/Desktop/IEMS 308/Project2/DillardsPOS/deptinfo.csv",
                       sep = ',', names = ('Dept','Description','Zeros'))
deptinfo = deptinfo.drop('Zeros', axis = 1)

In [3]:
deptinfo.head()

   Dept Description
0   800    CLINIQUE
1   801    LESLIE
2  1100    GARY F
3  1107    JACQUES
4  1202    CABERN

In [4]:
deptinfo.shape

(60, 2)

In [5]:
deptinfo[deptinfo['Dept'] == 6505]

    Dept Description
41  6505    ST JOHN

In [6]:
skuinfo = pd.read_csv("/Users/charlesmarshall/Desktop/IEMS 308/Project2/DillardsPOS/skuinfo.csv",
                      sep = ',', usecols = [0,1,2,3,4,5,6,7,8,9],
                      names = ('SKU', 'Dept', 'ClassID', 'UPC', 'Style', 'Color', 'Size', 'Packsize', 'Vendor', 'Brand'),
                     dtype={'Packsize': str, 'Vendor': str})

In [7]:
skuinfo.head()

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
0,3,6505,113,400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA

In [8]:
skuinfo.shape

(1564178, 10)

In [110]:
len(set(skuinfo['SKU']))

1564178

In [9]:
skstinfo = pd.read_csv("/Users/charlesmarshall/Desktop/IEMS 308/Project2/DillardsPOS/skstinfo.csv",
                       sep = ',', names = ('SKU', 'Store', 'Cost', 'Retail', 'Zeros'))

In [10]:
skstinfo = skstinfo.drop('Zeros', axis = 1)

In [11]:
skstinfo.head()

   SKU  Store    Cost  Retail
0    3    102  123.36   440.0
1    3    103  123.36   440.0
2    3    104  123.36   440.0
3    3    202  123.36   440.0
4    3    203  123.36   440.0

In [12]:
skstinfo.shape

(39230146, 4)

In [13]:
strinfo = pd.read_csv("/Users/charlesmarshall/Desktop/IEMS 308/Project2/DillardsPOS/strinfo.csv",
                      sep = ',', names = ('Store','City','State','Zip','Zeros'))

In [14]:
strinfo = strinfo.drop('Zeros', axis = 1)

In [15]:
strinfo.head()

   Store                  City State    Zip
0      2  ST. PETERSBURG          FL  33710
1      3  ST. LOUIS               MO  63126
2      4  LITTLE ROCK             AR  72201
3      7  FORT WORTH              TX  76137
4      9  TEMPE                   AZ  85281

In [16]:
strinfo.shape

(453, 4)

The trnsact data set is extremely large and cannot be loaded in completely. In order to combat this I only used columns which might be relevant in further stages of analysis.

In [17]:
trnsact = pd.read_csv("/Users/charlesmarshall/Desktop/IEMS 308/Project2/DillardsPOS/trnsact.csv",
                      na_filter = False, usecols = [0,1,2,3,4,5,6],
                      names = ('SKU','Store','Register','TranNum','SEQ','Date','SType'))

In [18]:
trnsact.head()

   SKU  Store  Register  TranNum        SEQ        Date SType
0    3    202       290     1100  326708721  2005-01-18     P
1    3    202       540     2700  326708721  2005-01-29     R
2    3    303       500     2100   23702074  2004-08-18     P
3    3    709       360      500          0  2005-08-14     P
4    3    802       660      400          0  2005-08-09     P

In [19]:
trnsact.shape

(120916896, 7)

In [20]:
trnsact['Date'] = pd.to_datetime(trnsact['Date'])

In [21]:
trnsact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120916896 entries, 0 to 120916895
Data columns (total 7 columns):
SKU         int64
Store       int64
Register    int64
TranNum     int64
SEQ         int64
Date        datetime64[ns]
SType       object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 6.3+ GB

## Preparing Data for Association Rules Analysis - Subsetting

Taking data from raw form to the point where it is ready to be analysed with association rules. This includes making decisions about subsetting the data. I decided to subset the data by only analyzing certain departments at a time. Additionally, we only want to look at purchase data, not return data.

### Subset the data to only include SKUs from the Polo Men's Department

In [22]:
deptinfo[deptinfo['Description'] == 'POLOMEN ']

    Dept Description
25  4505    POLOMEN

In [23]:
deptID = 4505

Notice that the Deptartment number is 4505 for Calvin Klein

In [24]:
poloSKU = skuinfo[skuinfo['Dept'] == deptID]

In [25]:
poloSKU.head()

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
52,210,4505,107,400000210000,9ALDN 797442,FUCHSIA/FO,160,1,5715232,POLO FAS
60,258,4505,107,400000258000,9A 797493,BANANA BEA,XXL,1,5715232,POLO FAS
71,308,4505,424,400000308000,1BR 580599,CLSC WASH,36,1,5715232,POLO FAS
83,367,4505,109,400000367000,9AME 096278,BLUE/NAVY,1654,1,5715232,POLO FAS
88,397,4505,108,400000397000,8 047338,ANDOVER HE,M,1,5715232,POLO FAS

In [26]:
# The number of unique SKUs associated with the data
len(set(poloSKU['SKU']))

142108

Subsetting trnsact data using only the Polo Men Department

In [27]:
poloData = trnsact[trnsact['SKU'].isin(skuinfo[skuinfo['Dept'] == deptID]['SKU'])]

In [28]:
poloData.head()

       SKU  Store  Register  TranNum        SEQ       Date SType
582    210   7003       180     4000          0 2004-09-13     P
937    367   2707       370    14200          0 2004-10-01     P
938    367   3307       411     3100          0 2004-10-02     P
1618   397    303       910     6100  544100323 2004-08-21     P
5055  1165    107        31     4300          0 2004-09-05     P

In [29]:
poloData.shape

(5763323, 7)

### Subset the data to only include purchases, not returns

In [30]:
poloData = poloData[poloData['SType'] == 'P']

In [31]:
poloData.shape

(5153583, 7)

### Subsetting SKUs

There are too many SKUs (142,108 unique SKUs) to do one hot encoding. So, I am going to use the 100 most common SKU values.

In [32]:
topSKU = pd.DataFrame(poloData['SKU'].value_counts())
topSKU.reset_index(level=0, inplace=True)
topSKU = topSKU.rename(columns = {'SKU':'count', 'index':'SKU'})

In [33]:
topSKU.head()

       SKU  count
0  6486359   8611
1  6806359   6774
2  9352339   6597
3  9432339   6314
4  6246359   6309

In [34]:
top = topSKU[:100]

In [35]:
top = top.drop('count', axis = 1)

In [36]:
top.shape

(100, 1)

        SKU
0   6486359
1   6806359
2   9352339
3   9432339
4   6246359
5   1152340
6   1072340
7   9272339
8   3269431
9   5228351
10  6149446
11  5461167
12  9502339
13  9042262
14  6846359
15  3249431
16  6169446
17  2078810
18  4343643
19  3279431
20  6872339
21  5258351
22  6119446
23   992340
24  5321167
25  5471167
26  5441167
27  8852339
28  9002262
29  5291167
30  1232340
31  5599233
32  4421180
33  6952339
34  5238351
35  6447365
36  1069441
37  6457365
38  5609233
39  5331167
40  5699695
41  8932339
42  5901243
43  1677524
44  1571243
45  5709431
46   459441
47  5124599
48  4373643
49  8533189
50  5549233
51  7823749
52  9883749
53  7926294
54  5748351
55  1049441
56  4451180
57  5759695
58  4353643
59  5104599
60   439441
61  5719431
62  4898351
63   907523
64   936370
65  8613189
66  9972087
67  1869441
68  5629233
69  9993749
70  6093596
71  5174599
72  8057414
73  6673596
74  6213596
75  4912330
76  6433893
77  5024599
78  6863893
79  5689400
80  8013602
81  7716294
82  4403643
83  1707524
84  2672329
85  5753596
86  1589441
87  2967523
88  5154599
89  2108810
90  6703893
91  4994599
92  5798351
93  1079441
94   469441
95  5363579
96  8366288
97  6123596
98  5679400
99   947523

In [37]:
topData = poloData[poloData['SKU'].isin(top['SKU'])]

In [38]:
topData.head()

            SKU  Store  Register  TranNum  SEQ       Date SType
5119856  439441    102       810      200    0 2005-05-24     P
5119857  439441    102       810     1900    0 2005-02-24     P
5119858  439441    102       810     2100    0 2005-03-03     P
5119859  439441    102       810     2800    0 2005-05-28     P
5119860  439441    102       810     4900    0 2005-03-04     P

In [39]:
topData.shape

(251364, 7)

## Defining a Market Basket

The next step is to organize items purchased together into market baskets. For our purposes, a unique order will have the same Store, Register, TranNum, SEQ, and Date. A variable called orderID will be created using Store, Register, TranNum, and SEQ. If two or more items have the same orderID and Date, then they are a part of the same market basket.

In [40]:
orderID = topData['Store']+topData['Register']+topData['TranNum']+topData['SEQ']+topData['Date']

In [41]:
data = pd.concat([topData,orderID], axis=1)
data = data.rename(columns = {0:'orderID'})

In [42]:
data.head()

,SKU,Store,Register,TranNum,SEQ,Date,SType,orderID
5119856,439441,102,810,200,0,2005-05-24,P,2005-05-24 00:00:00.000001112
5119857,439441,102,810,1900,0,2005-02-24,P,2005-02-24 00:00:00.000002812
5119858,439441,102,810,2100,0,2005-03-03,P,2005-03-03 00:00:00.000003012
5119859,439441,102,810,2800,0,2005-05-28,P,2005-05-28 00:00:00.000003712
5119860,439441,102,810,4900,0,2005-03-04,P,2005-03-04 00:00:00.000005812

In [43]:
len(data['SKU'].value_counts())

100

In [44]:
# Example problem, showing that there is only one unique Market Basket when sorting by date and orderID
ex1 = data.sort_values(by = ['orderID'])
ex1.head(10)

,SKU,Store,Register,TranNum,SEQ,Date,SType,orderID
64347068,5174599,507,90,400,0,2004-08-01,P,2004-08-01 00:00:00.000000997
17936272,1589441,203,440,500,0,2004-08-01,P,2004-08-01 00:00:00.000001143
12194832,1049441,203,440,500,0,2004-08-01,P,2004-08-01 00:00:00.000001143
68048414,5471167,102,810,300,0,2004-08-01,P,2004-08-01 00:00:00.000001212
77065993,6246359,704,390,400,0,2004-08-01,P,2004-08-01 00:00:00.000001494
24080575,2108810,503,350,800,0,2004-08-01,P,2004-08-01 00:00:00.000001653
67926303,5461167,1302,220,200,0,2004-08-01,P,2004-08-01 00:00:00.000001722
120572276,9972087,1007,121,600,0,2004-08-01,P,2004-08-01 00:00:00.000001728
24080652,2108810,807,230,800,0,2004-08-01,P,2004-08-01 00:00:00.000001837
5439014,469441,1302,220,400,0,2004-08-01,P,2004-08-01 00:00:00.000001922

In [45]:
onehot = pd.get_dummies(data['SKU'], prefix = 'SKU')

In [46]:
onehot.head()

,SKU_439441,SKU_459441,SKU_469441,SKU_907523,SKU_936370,SKU_947523,SKU_992340,SKU_1049441,SKU_1069441,SKU_1072340,...,SKU_8932339,SKU_9002262,SKU_9042262,SKU_9272339,SKU_9352339,SKU_9432339,SKU_9502339,SKU_9883749,SKU_9972087,SKU_9993749
5119856,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119857,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119858,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119859,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119860,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
onehot.shape

(251364, 100)

In [48]:
df = pd.concat([data,onehot],axis=1)

In [49]:
df.head()

,SKU,Store,Register,TranNum,SEQ,Date,SType,orderID,SKU_439441,SKU_459441,...,SKU_8932339,SKU_9002262,SKU_9042262,SKU_9272339,SKU_9352339,SKU_9432339,SKU_9502339,SKU_9883749,SKU_9972087,SKU_9993749
5119856,439441,102,810,200,0,2005-05-24,P,2005-05-24 00:00:00.000001112,1,0,...,0,0,0,0,0,0,0,0,0,0
5119857,439441,102,810,1900,0,2005-02-24,P,2005-02-24 00:00:00.000002812,1,0,...,0,0,0,0,0,0,0,0,0,0
5119858,439441,102,810,2100,0,2005-03-03,P,2005-03-03 00:00:00.000003012,1,0,...,0,0,0,0,0,0,0,0,0,0
5119859,439441,102,810,2800,0,2005-05-28,P,2005-05-28 00:00:00.000003712,1,0,...,0,0,0,0,0,0,0,0,0,0
5119860,439441,102,810,4900,0,2005-03-04,P,2005-03-04 00:00:00.000005812,1,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df.drop(['SKU','Store','Register','TranNum','SEQ','Date','SType'],axis=1, inplace=True)

In [51]:
df.shape

(251364, 101)

In [52]:
df.head()

,orderID,SKU_439441,SKU_459441,SKU_469441,SKU_907523,SKU_936370,SKU_947523,SKU_992340,SKU_1049441,SKU_1069441,...,SKU_8932339,SKU_9002262,SKU_9042262,SKU_9272339,SKU_9352339,SKU_9432339,SKU_9502339,SKU_9883749,SKU_9972087,SKU_9993749
5119856,2005-05-24 00:00:00.000001112,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119857,2005-02-24 00:00:00.000002812,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119858,2005-03-03 00:00:00.000003012,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119859,2005-05-28 00:00:00.000003712,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5119860,2005-03-04 00:00:00.000005812,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
finalData = df.groupby(['orderID']).sum()

In [54]:
finalData.head()

,SKU_439441,SKU_459441,SKU_469441,SKU_907523,SKU_936370,SKU_947523,SKU_992340,SKU_1049441,SKU_1069441,SKU_1072340,...,SKU_8932339,SKU_9002262,SKU_9042262,SKU_9272339,SKU_9352339,SKU_9432339,SKU_9502339,SKU_9883749,SKU_9972087,SKU_9993749
orderID,,,,,,,,,,,,,,,,,,,,,
2004-08-01 00:00:00.000000997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-08-01 00:00:00.000001143,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-08-01 00:00:00.000001212,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-08-01 00:00:00.000001494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-08-01 00:00:00.000001653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
finalData.shape

(210929, 100)

In [56]:
final = finalData >= 1

In [57]:
a = final.sum()
b = a/886008

In [58]:
b = pd.DataFrame(b)
b.reset_index(level=0, inplace=True)
b = b.rename(columns = {0:'prob', 'index':'SKU'})

In [114]:
b.head()

          SKU      prob
0  SKU_439441  0.002167
1  SKU_459441  0.002328
2  SKU_469441  0.001938
3  SKU_907523  0.002155
4  SKU_936370  0.002196

In [117]:
b.sort_values(by = 'prob',ascending=False)

            SKU      prob
73  SKU_6486359  0.009614
76  SKU_6806359  0.007550
94  SKU_9352339  0.007144
69  SKU_6246359  0.007060
95  SKU_9432339  0.006795
9   SKU_1072340  0.004977
11  SKU_1152340  0.004972
93  SKU_9272339  0.004219
23  SKU_3269431  0.003604
39  SKU_5228351  0.003433
47  SKU_5461167  0.003340
77  SKU_6846359  0.003316
66  SKU_6149446  0.003306
96  SKU_9502339  0.003263
25  SKU_4343643  0.003114
18  SKU_2078810  0.003070
22  SKU_3249431  0.003042
6    SKU_992340  0.003028
79  SKU_6872339  0.003026
67  SKU_6169446  0.003019
92  SKU_9042262  0.002991
24  SKU_3279431  0.002955
41  SKU_5258351  0.002928
43  SKU_5321167  0.002905
64  SKU_6119446  0.002854
48  SKU_5471167  0.002830
46  SKU_5441167  0.002783
89  SKU_8852339  0.002754
42  SKU_5291167  0.002734
12  SKU_1232340  0.002716
50  SKU_5599233  0.002688
29  SKU_4421180  0.002552
91  SKU_9002262  0.002534
80  SKU_6952339  0.002532
72  SKU_6457365  0.002529
71  SKU_6447365  0.002529
40  SKU_5238351  0.002508
55  SKU_5699695  0.002507
51  SKU_5609233  0.002497
90  SKU_8932339  0.002488
44  SKU_5331167  0.002472
87  SKU_8533189  0.002389
8   SKU_1069441  0.002385
56  SKU_5709431  0.002379
82  SKU_7823749  0.002361
15  SKU_1677524  0.002339
97  SKU_9883749  0.002337
58  SKU_5748351  0.002335
83  SKU_7926294  0.002335
49  SKU_5549233  0.002332
1    SKU_459441  0.002328
27  SKU_4373643  0.002314
36  SKU_5124599  0.002261
60  SKU_5759695  0.002257
13  SKU_1571243  0.002213
88  SKU_8613189  0.002209
62  SKU_5901243  0.002208
26  SKU_4353643  0.002207
4    SKU_936370  0.002196
57  SKU_5719431  0.002192
7   SKU_1049441  0.002188
31  SKU_4898351  0.002170
30  SKU_4451180  0.002168
0    SKU_439441  0.002167
3    SKU_907523  0.002155
99  SKU_9993749  0.002152
85  SKU_8057414  0.002146
63  SKU_6093596  0.002133
74  SKU_6673596  0.002132
52  SKU_5629233  0.002128
35  SKU_5104599  0.002122
70  SKU_6433893  0.002116
68  SKU_6213596  0.002113
78  SKU_6863893  0.002109
84  SKU_8013602  0.002093
28  SKU_4403643  0.002088
17  SKU_1869441  0.002060
59  SKU_5753596  0.002051
81  SKU_7716294  0.002051
54  SKU_5689400  0.002049
98  SKU_9972087  0.002049
21  SKU_2967523  0.002041
75  SKU_6703893  0.002015
34  SKU_5024599  0.002003
61  SKU_5798351  0.001994
38  SKU_5174599  0.001993
32  SKU_4912330  0.001991
45  SKU_5363579  0.001984
65  SKU_6123596  0.001983
86  SKU_8366288  0.001981
53  SKU_5679400  0.001962
16  SKU_1707524  0.001957
14  SKU_1589441  0.001954
5    SKU_947523  0.001939
2    SKU_469441  0.001938
33  SKU_4994599  0.001911
19  SKU_2108810  0.001906
10  SKU_1079441  0.001893
37  SKU_5154599  0.001893
20  SKU_2672329  0.001457

In [76]:
frequentItemsets = apriori(final, min_support=0.0001, use_colnames=True)

In [115]:
frequentItemsets

      support                                 itemsets
0    0.009103                             (SKU_439441)
1    0.009781                             (SKU_459441)
2    0.008140                             (SKU_469441)
3    0.009050                             (SKU_907523)
4    0.009226                             (SKU_936370)
5    0.008145                             (SKU_947523)
6    0.012720                             (SKU_992340)
7    0.009193                            (SKU_1049441)
8    0.010018                            (SKU_1069441)
9    0.020908                            (SKU_1072340)
10   0.007951                            (SKU_1079441)
11   0.020884                            (SKU_1152340)
12   0.011407                            (SKU_1232340)
13   0.009297                            (SKU_1571243)
14   0.008207                            (SKU_1589441)
15   0.009823                            (SKU_1677524)
16   0.008221                            (SKU_1707524)
17   0.008652                            (SKU_1869441)
18   0.012895                            (SKU_2078810)
19   0.008007                            (SKU_2108810)
20   0.006121                            (SKU_2672329)
21   0.008572                            (SKU_2967523)
22   0.012777                            (SKU_3249431)
23   0.015138                            (SKU_3269431)
24   0.012412                            (SKU_3279431)
25   0.013080                            (SKU_4343643)
26   0.009269                            (SKU_4353643)
27   0.009719                            (SKU_4373643)
28   0.008771                            (SKU_4403643)
29   0.010719                            (SKU_4421180)
30   0.009107                            (SKU_4451180)
31   0.009117                            (SKU_4898351)
32   0.008363                            (SKU_4912330)
33   0.008026                            (SKU_4994599)
34   0.008415                            (SKU_5024599)
35   0.008913                            (SKU_5104599)
36   0.009496                            (SKU_5124599)
37   0.007951                            (SKU_5154599)
38   0.008372                            (SKU_5174599)
39   0.014422                            (SKU_5228351)
40   0.010534                            (SKU_5238351)
41   0.012298                            (SKU_5258351)
42   0.011483                            (SKU_5291167)
43   0.012203                            (SKU_5321167)
44   0.010383                            (SKU_5331167)
45   0.008335                            (SKU_5363579)
46   0.011691                            (SKU_5441167)
47   0.014028                            (SKU_5461167)
48   0.011886                            (SKU_5471167)
49   0.009795                            (SKU_5549233)
50   0.011293                            (SKU_5599233)
51   0.010487                            (SKU_5609233)
52   0.008937                            (SKU_5629233)
53   0.008240                            (SKU_5679400)
54   0.008605                            (SKU_5689400)
55   0.010530                            (SKU_5699695)
56   0.009994                            (SKU_5709431)
57   0.009207                            (SKU_5719431)
58   0.009809                            (SKU_5748351)
59   0.008614                            (SKU_5753596)
60   0.009482                            (SKU_5759695)
61   0.008377                            (SKU_5798351)
62   0.009273                            (SKU_5901243)
63   0.008960                            (SKU_6093596)
64   0.011990                            (SKU_6119446)
65   0.008330                            (SKU_6123596)
66   0.013886                            (SKU_6149446)
67   0.012682                            (SKU_6169446)
68   0.008875                            (SKU_6213596)
69   0.029655                            (SKU_6246359)
70   0.008889                            (SKU_6433893)
71   0.010624                            (SKU_6447365)
72   0.010624                            (SKU_6457365)
73   0.040383                            (SKU_6486359)
74   0.008956                            (SKU_6673596)
75   0.008463                            (SKU_6703893)
76   0.031712                            (SKU_6806359)
77   0.013929                            (SKU_6846359)
78   0.008861                            (SKU_6863893)
79   0.012710                            (SKU_6872339)
80   0.010634                            (SKU_6952339)
81   0.008614                            (SKU_7716294)
82   0.009918                            (SKU_7823749)
83   0.009809                            (SKU_7926294)
84   0.008790                            (SKU_8013602)
85   0.009013                            (SKU_8057414)
86   0.008320                            (SKU_8366288)
87   0.010037                            (SKU_8533189)
88   0.009278                            (SKU_8613189)
89   0.011568                            (SKU_8852339)
90   0.010449                            (SKU_8932339)
91   0.010643                            (SKU_9002262)
92   0.012563                            (SKU_9042262)
93   0.017722                            (SKU_9272339)
94   0.030010                            (SKU_9352339)
95   0.028540                            (SKU_9432339)
96   0.013706                            (SKU_9502339)
97   0.009818                            (SKU_9883749)
98   0.008605                            (SKU_9972087)
99   0.009041                            (SKU_9993749)
100  0.001721                (SKU_1049441, SKU_439441)
101  0.000104                (SKU_439441, SKU_1069441)
102  0.001375                (SKU_439441, SKU_1589441)
103  0.000137                (SKU_439441, SKU_3249431)
104  0.000114                (SKU_439441, SKU_6119446)
105  0.001911                (SKU_459441, SKU_1069441)
106  0.001550                (SKU_1869441, SKU_459441)
107  0.000166                (SKU_3269431, SKU_459441)
108  0.000142                (SKU_4421180, SKU_459441)
109  0.000152                (SKU_6149446, SKU_459441)
110  0.001607                (SKU_469441, SKU_1079441)
111  0.000171                (SKU_3279431, SKU_469441)
112  0.000147                (SKU_469441, SKU_6169446)
113  0.000119                (SKU_1072340, SKU_992340)
114  0.001105                (SKU_9272339, SKU_992340)
115  0.001664               (SKU_1049441, SKU_1589441)
116  0.000152               (SKU_1049441, SKU_3249431)
117  0.000119               (SKU_1049441, SKU_6119446)
118  0.001930               (SKU_1869441, SKU_1069441)
119  0.000171               (SKU_3269431, SKU_1069441)
120  0.000161               (SKU_5709431, SKU_1069441)
121  0.000152               (SKU_6149446, SKU_1069441)
122  0.000152               (SKU_1072340, SKU_1152340)
123  0.000327               (SKU_1072340, SKU_5679400)
124  0.000768               (SKU_1072340, SKU_6447365)
125  0.000114               (SKU_1072340, SKU_6846359)
126  0.000109               (SKU_6872339, SKU_1072340)
127  0.000123               (SKU_1072340, SKU_8057414)
128  0.000408               (SKU_1072340, SKU_8533189)
129  0.002133               (SKU_1072340, SKU_9352339)
130  0.000104               (SKU_1072340, SKU_9432339)
131  0.000152               (SKU_3279431, SKU_1079441)
132  0.000332               (SKU_1152340, SKU_5689400)
133  0.000915               (SKU_6457365, SKU_1152340)
134  0.000109               (SKU_1152340, SKU_6846359)
135  0.000446               (SKU_1152340, SKU_8613189)
136  0.000119               (SKU_1152340, SKU_8932339)
137  0.000128               (SKU_1152340, SKU_9352339)
138  0.002110               (SKU_1152340, SKU_9432339)
139  0.000109               (SKU_1232340, SKU_6846359)
140  0.001010               (SKU_1232340, SKU_9502339)
141  0.000318               (SKU_1571243, SKU_2078810)
142  0.000488               (SKU_2108810, SKU_1571243)
143  0.000749               (SKU_4912330, SKU_1571243)
144  0.001531               (SKU_5901243, SKU_1571243)
145  0.000498               (SKU_9972087, SKU_1571243)
146  0.000128               (SKU_1589441, SKU_3249431)
147  0.000152               (SKU_1869441, SKU_3269431)
148  0.000123               (SKU_5709431, SKU_1869441)
149  0.000104               (SKU_1869441, SKU_6149446)
150  0.000654               (SKU_2108810, SKU_2078810)
151  0.000550               (SKU_4912330, SKU_2078810)
152  0.000446               (SKU_5901243, SKU_2078810)
153  0.000754               (SKU_9972087, SKU_2078810)
154  0.000484               (SKU_4912330, SKU_2108810)
155  0.000479               (SKU_5901243, SKU_2108810)
156  0.001005               (SKU_9972087, SKU_2108810)
157  0.000133               (SKU_5291167, SKU_3249431)
158  0.000147               (SKU_5441167, SKU_3249431)
159  0.001963               (SKU_6119446, SKU_3249431)
160  0.000137               (SKU_3279431, SKU_3269431)
161  0.000166               (SKU_3269431, SKU_5321167)
162  0.000190               (SKU_5461167, SKU_3269431)
163  0.001683               (SKU_5709431, SKU_3269431)
164  0.002423               (SKU_6149446, SKU_3269431)
165  0.000109               (SKU_3269431, SKU_9352339)
166  0.000142               (SKU_3269431, SKU_9432339)
167  0.000147               (SKU_3279431, SKU_5331167)
168  0.000137               (SKU_3279431, SKU_5471167)
169  0.001474               (SKU_3279431, SKU_5719431)
170  0.002247               (SKU_3279431, SKU_6169446)
171  0.000123               (SKU_3279431, SKU_9432339)
172  0.000114               (SKU_4353643, SKU_4343643)
173  0.000104               (SKU_4373643, SKU_4343643)
174  0.000668               (SKU_4403643, SKU_4343643)
175  0.000142               (SKU_4421180, SKU_4451180)
176  0.001086               (SKU_4898351, SKU_5228351)
177  0.000152               (SKU_5258351, SKU_4898351)
178  0.000346               (SKU_4898351, SKU_5549233)
179  0.000213               (SKU_4898351, SKU_5599233)
180  0.000849               (SKU_4898351, SKU_5748351)
181  0.000773               (SKU_4912330, SKU_5901243)
182  0.000635               (SKU_4912330, SKU_9972087)
183  0.000114               (SKU_5104599, SKU_6149446)
184  0.000114               (SKU_5154599, SKU_6169446)
185  0.000166               (SKU_5238351, SKU_5228351)
186  0.000190               (SKU_5258351, SKU_5228351)
187  0.000668               (SKU_5549233, SKU_5228351)
188  0.000389               (SKU_5228351, SKU_5599233)
189  0.000119               (SKU_5228351, SKU_5699695)
190  0.000901               (SKU_5748351, SKU_5228351)
191  0.000128               (SKU_5228351, SKU_5798351)
192  0.000119               (SKU_7823749, SKU_5228351)
193  0.000308               (SKU_5238351, SKU_5609233)
194  0.000171               (SKU_5238351, SKU_5748351)
195  0.000109               (SKU_5258351, SKU_5549233)
196  0.000109               (SKU_5258351, SKU_5599233)
197  0.000375               (SKU_5258351, SKU_5629233)
198  0.000128               (SKU_5258351, SKU_5748351)
199  0.000104               (SKU_5258351, SKU_5759695)
200  0.000853               (SKU_5258351, SKU_5798351)
201  0.000109               (SKU_5258351, SKU_6123596)
202  0.000109               (SKU_5258351, SKU_9993749)
203  0.001280               (SKU_5291167, SKU_5441167)
204  0.001631               (SKU_5461167, SKU_5321167)
205  0.000114               (SKU_5321167, SKU_5471167)
206  0.000128               (SKU_5709431, SKU_5321167)
207  0.000175               (SKU_6149446, SKU_5321167)
208  0.000109               (SKU_5461167, SKU_5331167)
209  0.001413               (SKU_5331167, SKU_5471167)
210  0.000119               (SKU_5331167, SKU_6169446)
211  0.000137               (SKU_5441167, SKU_6119446)
212  0.000142               (SKU_5461167, SKU_5471167)
213  0.000119               (SKU_5461167, SKU_5709431)
214  0.000194               (SKU_5461167, SKU_6149446)
215  0.000137               (SKU_6169446, SKU_5471167)
216  0.000104               (SKU_9432339, SKU_5471167)
217  0.000417               (SKU_5549233, SKU_5599233)
218  0.000104               (SKU_5549233, SKU_5609233)
219  0.000460               (SKU_5549233, SKU_5748351)
220  0.000228               (SKU_5599233, SKU_5609233)
221  0.000190               (SKU_5629233, SKU_5599233)
222  0.000251               (SKU_5748351, SKU_5599233)
223  0.000114               (SKU_5629233, SKU_5609233)
224  0.000194               (SKU_5629233, SKU_5798351)
225  0.000303               (SKU_6447365, SKU_5679400)
226  0.000161               (SKU_8533189, SKU_5679400)
227  0.000375               (SKU_9352339, SKU_5679400)
228  0.000256               (SKU_6457365, SKU_5689400)
229  0.000104               (SKU_5689400, SKU_6952339)
230  0.000289               (SKU_5689400, SKU_8613189)
231  0.000455               (SKU_9432339, SKU_5689400)
232  0.000280               (SKU_5699695, SKU_5753596)
233  0.000706               (SKU_5699695, SKU_6093596)
234  0.000479               (SKU_5699695, SKU_6213596)
235  0.000583               (SKU_7823749, SKU_5699695)
236  0.000185               (SKU_5699695, SKU_7926294)
237  0.000536               (SKU_9883749, SKU_5699695)
238  0.001792               (SKU_5709431, SKU_6149446)
239  0.001830               (SKU_6169446, SKU_5719431)
240  0.000275               (SKU_5753596, SKU_6093596)
241  0.000270               (SKU_5753596, SKU_6213596)
242  0.000242               (SKU_7823749, SKU_5753596)
243  0.000375               (SKU_5753596, SKU_7926294)
244  0.000327               (SKU_9883749, SKU_5753596)
245  0.000119               (SKU_6093596, SKU_5759695)
246  0.000702               (SKU_6123596, SKU_5759695)
247  0.000450               (SKU_6673596, SKU_5759695)
248  0.000531               (SKU_9993749, SKU_5759695)
249  0.000104               (SKU_9993749, SKU_5798351)
250  0.000631               (SKU_9972087, SKU_5901243)
251  0.000531               (SKU_6093596, SKU_6213596)
252  0.000265               (SKU_7823749, SKU_6093596)
253  0.000223               (SKU_6093596, SKU_7926294)
254  0.000379               (SKU_9883749, SKU_6093596)
255  0.000507               (SKU_6673596, SKU_6123596)
256  0.000270               (SKU_9993749, SKU_6123596)
257  0.000109               (SKU_9432339, SKU_6169446)
258  0.000650               (SKU_7823749, SKU_6213596)
259  0.000190               (SKU_6213596, SKU_7926294)
260  0.000356               (SKU_9883749, SKU_6213596)
261  0.002138               (SKU_6486359, SKU_6246359)
262  0.001024               (SKU_6806359, SKU_6246359)
263  0.000635               (SKU_6846359, SKU_6246359)
264  0.000123               (SKU_9352339, SKU_6246359)
265  0.000327               (SKU_6433893, SKU_6863893)
266  0.000237               (SKU_6447365, SKU_8533189)
267  0.001455               (SKU_6447365, SKU_9352339)
268  0.000356               (SKU_6457365, SKU_8613189)
269  0.001294               (SKU_6457365, SKU_9432339)
270  0.001067               (SKU_6486359, SKU_6806359)
271  0.000692               (SKU_6486359, SKU_6846359)
272  0.000128               (SKU_6486359, SKU_9352339)
273  0.000104               (SKU_6486359, SKU_9432339)
274  0.000356               (SKU_6673596, SKU_9993749)
275  0.000602               (SKU_6806359, SKU_6846359)
276  0.000133               (SKU_6806359, SKU_9042262)
277  0.000156               (SKU_6806359, SKU_9352339)
278  0.000156               (SKU_6806359, SKU_9432339)
279  0.001541               (SKU_6872339, SKU_8852339)
280  0.000247               (SKU_6872339, SKU_9352339)
281  0.000109               (SKU_8613189, SKU_6952339)
282  0.001133               (SKU_8932339, SKU_6952339)
283  0.000185               (SKU_9432339, SKU_6952339)
284  0.000161               (SKU_7716294, SKU_7926294)
285  0.000147               (SKU_7823749, SKU_7926294)
286  0.000427               (SKU_9883749, SKU_7823749)
287  0.000247               (SKU_9883749, SKU_7926294)
288  0.000152               (SKU_8057414, SKU_8533189)
289  0.000294               (SKU_8057414, SKU_9352339)
290  0.000972               (SKU_8533189, SKU_9352339)
291  0.000943               (SKU_9432339, SKU_8613189)
292  0.000119               (SKU_8852339, SKU_9352339)
293  0.000133               (SKU_8932339, SKU_9432339)
294  0.000119               (SKU_9002262, SKU_9042262)
295  0.000161               (SKU_9002262, SKU_9352339)
296  0.000180               (SKU_9432339, SKU_9042262)
297  0.000218               (SKU_9272339, SKU_9352339)
298  0.000104               (SKU_9272339, SKU_9432339)
299  0.000299               (SKU_9432339, SKU_9352339)
300  0.000119               (SKU_9432339, SKU_9502339)
301  0.000474   (SKU_1049441, SKU_439441, SKU_1589441)
302  0.000493   (SKU_459441, SKU_1869441, SKU_1069441)
303  0.000247  (SKU_1072340, SKU_6447365, SKU_9352339)
304  0.000204  (SKU_6457365, SKU_1152340, SKU_9432339)
305  0.000109  (SKU_9432339, SKU_1152340, SKU_8613189)
306  0.000104  (SKU_1571243, SKU_5901243, SKU_2078810)
307  0.000114  (SKU_4912330, SKU_2108810, SKU_1571243)
308  0.000104  (SKU_9972087, SKU_2108810, SKU_1571243)
309  0.000251  (SKU_4912330, SKU_5901243, SKU_1571243)
310  0.000147  (SKU_9972087, SKU_5901243, SKU_1571243)
311  0.000161  (SKU_9972087, SKU_2108810, SKU_2078810)
312  0.000104  (SKU_9972087, SKU_5901243, SKU_2078810)
313  0.000109  (SKU_4912330, SKU_5901243, SKU_2108810)
314  0.000123  (SKU_4912330, SKU_9972087, SKU_2108810)
315  0.000427  (SKU_5709431, SKU_6149446, SKU_3269431)
316  0.000450  (SKU_3279431, SKU_6169446, SKU_5719431)
317  0.000109  (SKU_4898351, SKU_5549233, SKU_5228351)
318  0.000209  (SKU_4898351, SKU_5748351, SKU_5228351)
319  0.000119  (SKU_4912330, SKU_9972087, SKU_5901243)
320  0.000119  (SKU_5549233, SKU_5748351, SKU_5228351)
321  0.000190  (SKU_6486359, SKU_6806359, SKU_6246359)
322  0.000133  (SKU_6486359, SKU_6846359, SKU_6246359)
323  0.000119  (SKU_6806359, SKU_6846359, SKU_6246359)
324  0.000119  (SKU_9432339, SKU_6457365, SKU_8613189)
325  0.000119  (SKU_6486359, SKU_6806359, SKU_6846359)

In [78]:
rules = association_rules(frequentItemsets, metric="lift", min_threshold=1)

In [79]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SKU_1049441),(SKU_439441),0.009193,0.009103,0.001721,0.187210,20.566665,0.001637,1.219131
1,(SKU_439441),(SKU_1049441),0.009103,0.009193,0.001721,0.189062,20.566665,0.001637,1.221805
2,(SKU_439441),(SKU_1069441),0.009103,0.010018,0.000104,0.011458,1.143821,0.000013,1.001457
3,(SKU_1069441),(SKU_439441),0.010018,0.009103,0.000104,0.010412,1.143821,0.000013,1.001323
4,(SKU_439441),(SKU_1589441),0.009103,0.008207,0.001375,0.151042,18.405007,0.001300,1.168247
5,(SKU_1589441),(SKU_439441),0.008207,0.009103,0.001375,0.167533,18.405007,0.001300,1.190315
6,(SKU_439441),(SKU_3249431),0.009103,0.012777,0.000137,0.015104,1.182155,0.000021,1.002363
7,(SKU_3249431),(SKU_439441),0.012777,0.009103,0.000137,0.010761,1.182155,0.000021,1.001676
8,(SKU_439441),(SKU_6119446),0.009103,0.011990,0.000114,0.012500,1.042551,0.000005,1.000517
9,(SKU_6119446),(SKU_439441),0.011990,0.009103,0.000114,0.009490,1.042551,0.000005,1.000391
10,(SKU_459441),(SKU_1069441),0.009781,0.010018,0.001911,0.195347,19.500359,0.001813,1.230322
11,(SKU_1069441),(SKU_459441),0.010018,0.009781,0.001911,0.190724,19.500359,0.001813,1.223587
12,(SKU_1869441),(SKU_459441),0.008652,0.009781,0.001550,0.179178,18.319852,0.001466,1.206376
13,(SKU_459441),(SKU_1869441),0.009781,0.008652,0.001550,0.158507,18.319852,0.001466,1.178082
14,(SKU_3269431),(SKU_459441),0.015138,0.009781,0.000166,0.010961,1.120743,0.000018,1.001194
15,(SKU_459441),(SKU_3269431),0.009781,0.015138,0.000166,0.016966,1.120743,0.000018,1.001859
16,(SKU_4421180),(SKU_459441),0.010719,0.009781,0.000142,0.013268,1.356619,0.000037,1.003535
17,(SKU_459441),(SKU_4421180),0.009781,0.010719,0.000142,0.014542,1.356619,0.000037,1.003879
18,(SKU_6149446),(SKU_459441),0.013886,0.009781,0.000152,0.010925,1.117037,0.000016,1.001157
19,(SKU_459441),(SKU_6149446),0.009781,0.013886,0.000152,0.015511,1.117037,0.000016,1.001651
20,(SKU_469441),(SKU_1079441),0.008140,0.007951,0.001607,0.197437,24.833197,0.001542,1.236102
21,(SKU_1079441),(SKU_469441),0.007951,0.008140,0.001607,0.202147,24.833197,0.001542,1.243161
22,(SKU_3279431),(SKU_469441),0.012412,0.008140,0.000171,0.013751,1.689269,0.000070,1.005689
23,(SKU_469441),(SKU_3279431),0.008140,0.012412,0.000171,0.020967,1.689269,0.000070,1.008738
24,(SKU_469441),(SKU_6169446),0.008140,0.012682,0.000147,0.018055,1.423652,0.000044,1.005472
25,(SKU_6169446),(SKU_469441),0.012682,0.008140,0.000147,0.011589,1.423652,0.000044,1.003489
26,(SKU_9272339),(SKU_992340),0.017722,0.012720,0.001105,0.062333,4.900408,0.000879,1.052911
27,(SKU_992340),(SKU_9272339),0.012720,0.017722,0.001105,0.086843,4.900408,0.000879,1.075695
28,(SKU_1049441),(SKU_1589441),0.009193,0.008207,0.001664,0.181021,22.058122,0.001589,1.211012
29,(SKU_1589441),(SKU_1049441),0.008207,0.009193,0.001664,0.202773,22.058122,0.001589,1.242817
...,...,...,...,...,...,...,...,...,...
408,"(SKU_6486359, SKU_6806359)",(SKU_6246359),0.001067,0.029655,0.000190,0.177778,5.994962,0.000158,1.180150
409,"(SKU_6486359, SKU_6246359)",(SKU_6806359),0.002138,0.031712,0.000190,0.088692,2.796782,0.000122,1.062525
410,"(SKU_6806359, SKU_6246359)",(SKU_6486359),0.001024,0.040383,0.000190,0.185185,4.585692,0.000148,1.177711
411,(SKU_6486359),"(SKU_6806359, SKU_6246359)",0.040383,0.001024,0.000190,0.004696,4.585692,0.000148,1.003689
412,(SKU_6806359),"(SKU_6486359, SKU_6246359)",0.031712,0.002138,0.000190,0.005980,2.796782,0.000122,1.003865
413,(SKU_6246359),"(SKU_6486359, SKU_6806359)",0.029655,0.001067,0.000190,0.006395,5.994962,0.000158,1.005362
414,"(SKU_6486359, SKU_6846359)",(SKU_6246359),0.000692,0.029655,0.000133,0.191781,6.467168,0.000112,1.200597
415,"(SKU_6486359, SKU_6246359)",(SKU_6846359),0.002138,0.013929,0.000133,0.062084,4.457240,0.000103,1.051343
416,"(SKU_6846359, SKU_6246359)",(SKU_6486359),0.000635,0.040383,0.000133,0.208955,5.174303,0.000107,1.213100
417,(SKU_6486359),"(SKU_6846359, SKU_6246359)",0.040383,0.000635,0.000133,0.003287,5.174303,0.000107,1.002661
418,(SKU_6846359),"(SKU_6486359, SKU_6246359)",0.013929,0.002138,0.000133,0.009530,4.457240,0.000103,1.007463
419,(SKU_6246359),"(SKU_6486359, SKU_6846359)",0.029655,0.000692,0.000133,0.004476,6.467168,0.000112,1.003801
420,"(SKU_6806359, SKU_6846359)",(SKU_6246359),0.000602,0.029655,0.000119,0.196850,6.638123,0.000101,1.208175
421,"(SKU_6806359, SKU_6246359)",(SKU_6846359),0.001024,0.013929,0.000119,0.115741,8.309421,0.000104,1.115138
422,"(SKU_6846359, SKU_6246359)",(SKU_6806359),0.000635,0.031712,0.000119,0.186567,5.883155,0.000098,1.190372
423,(SKU_6806359),"(SKU_6846359, SKU_6246359)",0.031712,0.000635,0.000119,0.003737,5.883155,0.000098,1.003114
424,(SKU_6846359),"(SKU_6806359, SKU_6246359)",0.013929,0.001024,0.000119,0.008509,8.309421,0.000104,1.007549
425,(SKU_6246359),"(SKU_6806359, SKU_6846359)",0.029655,0.000602,0.000119,0.003997,6.638123,0.000101,1.003408
426,"(SKU_6457365, SKU_9432339)",(SKU_8613189),0.001294,0.009278,0.000119,0.091575,9.870129,0.000107,1.090593
427,"(SKU_8613189, SKU_9432339)",(SKU_6457365),0.000943,0.010624,0.000119,0.125628,11.824461,0.000108,1.131527
428,"(SKU_6457365, SKU_8613189)",(SKU_9432339),0.000356,0.028540,0.000119,0.333333,11.679347,0.000108,1.457189
429,(SKU_9432339),"(SKU_6457365, SKU_8613189)",0.028540,0.000356,0.000119,0.004153,11.679347,0.000108,1.003813
430,(SKU_6457365),"(SKU_8613189, SKU_9432339)",0.010624,0.000943,0.000119,0.011156,11.824461,0.000108,1.010327
431,(SKU_8613189),"(SKU_6457365, SKU_9432339)",0.009278,0.001294,0.000119,0.012775,9.870129,0.000107,1.011629
432,"(SKU_6486359, SKU_6806359)",(SKU_6846359),0.001067,0.013929,0.000119,0.111111,7.977044,0.000104,1.109330
433,"(SKU_6486359, SKU_6846359)",(SKU_6806359),0.000692,0.031712,0.000119,0.171233,5.399608,0.000097,1.168347
434,"(SKU_6806359, SKU_6846359)",(SKU_6486359),0.000602,0.040383,0.000119,0.196850,4.874555,0.000094,1.194817
435,(SKU_6486359),"(SKU_6806359, SKU_6846359)",0.040383,0.000602,0.000119,0.002935,4.874555,0.000094,1.002340
436,(SKU_6806359),"(SKU_6486359, SKU_6846359)",0.031712,0.000692,0.000119,0.003737,5.399608,0.000097,1.003057
437,(SKU_6846359),"(SKU_6486359, SKU_6806359)",0.013929,0.001067,0.000119,0.008509,7.977044,0.000104,1.007506

In [80]:
rules.describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,438.000000,438.000000,438.000000,438.000000,438.000000,438.000000,438.000000
mean,0.010345,0.010345,0.000471,0.073210,9.391543,0.000370,1.076387
std,0.007187,0.007187,0.000512,0.078111,9.109040,0.000463,0.102819
min,0.000318,0.000318,0.000104,0.002935,1.015415,0.000002,1.000153
25%,0.008363,0.008363,0.000129,0.015443,2.189526,0.000100,1.008498
50%,0.009297,0.009297,0.000251,0.038598,5.583817,0.000177,1.028905
75%,0.011837,0.011837,0.000531,0.107968,14.065761,0.000450,1.106857
max,0.040383,0.040383,0.002423,0.344828,37.511159,0.002212,1.512285

In [81]:
rules[ rules['lift'] >= 10 ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SKU_1049441),(SKU_439441),0.009193,0.009103,0.001721,0.187210,20.566665,0.001637,1.219131
1,(SKU_439441),(SKU_1049441),0.009103,0.009193,0.001721,0.189062,20.566665,0.001637,1.221805
4,(SKU_439441),(SKU_1589441),0.009103,0.008207,0.001375,0.151042,18.405007,0.001300,1.168247
5,(SKU_1589441),(SKU_439441),0.008207,0.009103,0.001375,0.167533,18.405007,0.001300,1.190315
10,(SKU_459441),(SKU_1069441),0.009781,0.010018,0.001911,0.195347,19.500359,0.001813,1.230322
11,(SKU_1069441),(SKU_459441),0.010018,0.009781,0.001911,0.190724,19.500359,0.001813,1.223587
12,(SKU_1869441),(SKU_459441),0.008652,0.009781,0.001550,0.179178,18.319852,0.001466,1.206376
13,(SKU_459441),(SKU_1869441),0.009781,0.008652,0.001550,0.158507,18.319852,0.001466,1.178082
20,(SKU_469441),(SKU_1079441),0.008140,0.007951,0.001607,0.197437,24.833197,0.001542,1.236102
21,(SKU_1079441),(SKU_469441),0.007951,0.008140,0.001607,0.202147,24.833197,0.001542,1.243161
28,(SKU_1049441),(SKU_1589441),0.009193,0.008207,0.001664,0.181021,22.058122,0.001589,1.211012
29,(SKU_1589441),(SKU_1049441),0.008207,0.009193,0.001664,0.202773,22.058122,0.001589,1.242817
34,(SKU_1869441),(SKU_1069441),0.008652,0.010018,0.001930,0.223014,22.262213,0.001843,1.274131
35,(SKU_1069441),(SKU_1869441),0.010018,0.008652,0.001930,0.192617,22.262213,0.001843,1.227853
68,(SKU_5901243),(SKU_1571243),0.009273,0.009297,0.001531,0.165133,17.762021,0.001445,1.186660
69,(SKU_1571243),(SKU_5901243),0.009297,0.009273,0.001531,0.164712,17.762021,0.001445,1.186090
90,(SKU_9972087),(SKU_2108810),0.008605,0.008007,0.001005,0.116804,14.586996,0.000936,1.123186
91,(SKU_2108810),(SKU_9972087),0.008007,0.008605,0.001005,0.125518,14.586996,0.000936,1.133694
92,(SKU_6119446),(SKU_3249431),0.011990,0.012777,0.001963,0.163701,12.812357,0.001810,1.180467
93,(SKU_3249431),(SKU_6119446),0.012777,0.011990,0.001963,0.153618,12.812357,0.001810,1.167333
94,(SKU_5709431),(SKU_3269431),0.009994,0.015138,0.001683,0.168406,11.124875,0.001532,1.184307
95,(SKU_3269431),(SKU_5709431),0.015138,0.009994,0.001683,0.111181,11.124875,0.001532,1.113844
96,(SKU_6149446),(SKU_3269431),0.013886,0.015138,0.002423,0.174462,11.524946,0.002212,1.192995
97,(SKU_3269431),(SKU_6149446),0.015138,0.013886,0.002423,0.160038,11.524946,0.002212,1.173998
100,(SKU_3279431),(SKU_5719431),0.012412,0.009207,0.001474,0.118793,12.902617,0.001360,1.124359
101,(SKU_5719431),(SKU_3279431),0.009207,0.012412,0.001474,0.160144,12.902617,0.001360,1.175902
102,(SKU_3279431),(SKU_6169446),0.012412,0.012682,0.002247,0.181054,14.276482,0.002090,1.205596
103,(SKU_6169446),(SKU_3279431),0.012682,0.012412,0.002247,0.177196,14.276482,0.002090,1.200272
156,(SKU_5331167),(SKU_5471167),0.010383,0.011886,0.001413,0.136073,11.448646,0.001289,1.143748
157,(SKU_5471167),(SKU_5331167),0.011886,0.010383,0.001413,0.118867,11.448646,0.001289,1.123119
...,...,...,...,...,...,...,...,...,...
382,(SKU_6169446),"(SKU_3279431, SKU_5719431)",0.012682,0.001474,0.000450,0.035514,24.086612,0.000432,1.035293
383,(SKU_5719431),"(SKU_3279431, SKU_6169446)",0.009207,0.002247,0.000450,0.048919,21.768692,0.000430,1.049072
384,"(SKU_4898351, SKU_5549233)",(SKU_5228351),0.000346,0.014422,0.000109,0.315068,21.846510,0.000104,1.438944
385,"(SKU_4898351, SKU_5228351)",(SKU_5549233),0.001086,0.009795,0.000109,0.100437,10.254118,0.000098,1.100762
386,"(SKU_5549233, SKU_5228351)",(SKU_4898351),0.000668,0.009117,0.000109,0.163121,17.892282,0.000103,1.184021
387,(SKU_4898351),"(SKU_5549233, SKU_5228351)",0.009117,0.000668,0.000109,0.011960,17.892282,0.000103,1.011429
388,(SKU_5549233),"(SKU_4898351, SKU_5228351)",0.009795,0.001086,0.000109,0.011133,10.254118,0.000098,1.010160
389,(SKU_5228351),"(SKU_4898351, SKU_5549233)",0.014422,0.000346,0.000109,0.007561,21.846510,0.000104,1.007270
390,"(SKU_4898351, SKU_5748351)",(SKU_5228351),0.000849,0.014422,0.000209,0.245810,17.044204,0.000196,1.306804
391,"(SKU_4898351, SKU_5228351)",(SKU_5748351),0.001086,0.009809,0.000209,0.192140,19.588131,0.000198,1.225696
392,"(SKU_5748351, SKU_5228351)",(SKU_4898351),0.000901,0.009117,0.000209,0.231579,25.401308,0.000200,1.289506
393,(SKU_4898351),"(SKU_5748351, SKU_5228351)",0.009117,0.000901,0.000209,0.022881,25.401308,0.000200,1.022495
394,(SKU_5748351),"(SKU_4898351, SKU_5228351)",0.009809,0.001086,0.000209,0.021266,19.588131,0.000198,1.020619
395,(SKU_5228351),"(SKU_4898351, SKU_5748351)",0.014422,0.000849,0.000209,0.014464,17.044204,0.000196,1.013815
396,"(SKU_4912330, SKU_9972087)",(SKU_5901243),0.000635,0.009273,0.000119,0.186567,20.118827,0.000113,1.217958
397,"(SKU_4912330, SKU_5901243)",(SKU_9972087),0.000773,0.008605,0.000119,0.153374,17.824283,0.000112,1.170996
398,"(SKU_9972087, SKU_5901243)",(SKU_4912330),0.000631,0.008363,0.000119,0.187970,22.476365,0.000113,1.221183
399,(SKU_4912330),"(SKU_9972087, SKU_5901243)",0.008363,0.000631,0.000119,0.014172,22.476365,0.000113,1.013736
400,(SKU_9972087),"(SKU_4912330, SKU_5901243)",0.008605,0.000773,0.000119,0.013774,17.824283,0.000112,1.013183
401,(SKU_5901243),"(SKU_4912330, SKU_9972087)",0.009273,0.000635,0.000119,0.012781,20.118827,0.000113,1.012303
402,"(SKU_5549233, SKU_5748351)",(SKU_5228351),0.000460,0.014422,0.000119,0.257732,17.870856,0.000112,1.327793
403,"(SKU_5549233, SKU_5228351)",(SKU_5748351),0.000668,0.009809,0.000119,0.177305,18.075766,0.000112,1.203594
404,"(SKU_5748351, SKU_5228351)",(SKU_5549233),0.000901,0.009795,0.000119,0.131579,13.433599,0.000110,1.140236
405,(SKU_5549233),"(SKU_5748351, SKU_5228351)",0.009795,0.000901,0.000119,0.012101,13.433599,0.000110,1.011337
406,(SKU_5748351),"(SKU_5549233, SKU_5228351)",0.009809,0.000668,0.000119,0.012083,18.075766,0.000112,1.011554
407,(SKU_5228351),"(SKU_5549233, SKU_5748351)",0.014422,0.000460,0.000119,0.008218,17.870856,0.000112,1.007823
427,"(SKU_8613189, SKU_9432339)",(SKU_6457365),0.000943,0.010624,0.000119,0.125628,11.824461,0.000108,1.131527
428,"(SKU_6457365, SKU_8613189)",(SKU_9432339),0.000356,0.028540,0.000119,0.333333,11.679347,0.000108,1.457189
429,(SKU_9432339),"(SKU_6457365, SKU_8613189)",0.028540,0.000356,0.000119,0.004153,11.679347,0.000108,1.003813
430,(SKU_6457365),"(SKU_8613189, SKU_9432339)",0.010624,0.000943,0.000119,0.011156,11.824461,0.000108,1.010327

In [82]:
rules[ rules['lift'] >= 10 ].describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,0.007010,0.007010,0.000593,0.131224,20.411443,0.000556,1.157795
std,0.005382,0.005382,0.000676,0.098502,7.303378,0.000630,0.132768
min,0.000318,0.000318,0.000104,0.004153,10.197491,0.000095,1.003813
25%,0.001025,0.001025,0.000119,0.021670,14.276482,0.000110,1.020857
50%,0.008605,0.008605,0.000209,0.139735,19.500359,0.000200,1.152392
75%,0.009805,0.009805,0.001005,0.198432,25.308696,0.000936,1.235138
max,0.030010,0.030010,0.002423,0.344828,37.511159,0.002212,1.512285

In [133]:
rules[(rules['lift'] >= 10) & (rules['confidence'] >= 0.25) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
288,"(SKU_1049441, SKU_439441)",(SKU_1589441),0.001721,0.008207,0.000474,0.275482,33.568551,0.000460,1.368901
289,"(SKU_1049441, SKU_1589441)",(SKU_439441),0.001664,0.009103,0.000474,0.284900,31.298819,0.000459,1.385677
290,"(SKU_439441, SKU_1589441)",(SKU_1049441),0.001375,0.009193,0.000474,0.344828,37.511159,0.000461,1.512285
294,"(SKU_1869441, SKU_459441)",(SKU_1069441),0.001550,0.010018,0.000493,0.318043,31.748439,0.000478,1.451678
295,"(SKU_459441, SKU_1069441)",(SKU_1869441),0.001911,0.008652,0.000493,0.258065,29.826460,0.000477,1.336164
296,"(SKU_1869441, SKU_1069441)",(SKU_459441),0.001930,0.009781,0.000493,0.255528,26.126185,0.000474,1.330097
300,"(SKU_1072340, SKU_6447365)",(SKU_9352339),0.000768,0.030010,0.000247,0.320988,10.695988,0.000223,1.428531
319,"(SKU_2078810, SKU_1571243)",(SKU_5901243),0.000318,0.009273,0.000104,0.328358,35.409135,0.000101,1.475082
336,"(SKU_4912330, SKU_5901243)",(SKU_1571243),0.000773,0.009297,0.000251,0.325153,34.974134,0.000244,1.468042
337,"(SKU_4912330, SKU_1571243)",(SKU_5901243),0.000749,0.009273,0.000251,0.335443,36.173141,0.000244,1.490808
343,"(SKU_9972087, SKU_1571243)",(SKU_5901243),0.000498,0.009273,0.000147,0.295238,31.837565,0.000142,1.405761
367,"(SKU_4912330, SKU_2108810)",(SKU_9972087),0.000484,0.008605,0.000123,0.254902,29.623259,0.000119,1.330557
373,"(SKU_5709431, SKU_3269431)",(SKU_6149446),0.001683,0.013886,0.000427,0.253521,18.257070,0.000403,1.321020
379,"(SKU_3279431, SKU_5719431)",(SKU_6169446),0.001474,0.012682,0.000450,0.305466,24.086612,0.000432,1.421555
384,"(SKU_4898351, SKU_5549233)",(SKU_5228351),0.000346,0.014422,0.000109,0.315068,21.846510,0.000104,1.438944
402,"(SKU_5549233, SKU_5748351)",(SKU_5228351),0.000460,0.014422,0.000119,0.257732,17.870856,0.000112,1.327793
428,"(SKU_6457365, SKU_8613189)",(SKU_9432339),0.000356,0.028540,0.000119,0.333333,11.679347,0.000108,1.457189

In [95]:
rules[rules['lift'] >= 37.511159]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
290,"(SKU_439441, SKU_1589441)",(SKU_1049441),0.001375,0.009193,0.000474,0.344828,37.511159,0.000461,1.512285
291,(SKU_1049441),"(SKU_439441, SKU_1589441)",0.009193,0.001375,0.000474,0.051573,37.511159,0.000461,1.052928

In [96]:
rules[rules['lift'] >= 30]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
288,"(SKU_1049441, SKU_439441)",(SKU_1589441),0.001721,0.008207,0.000474,0.275482,33.568551,0.000460,1.368901
289,"(SKU_1049441, SKU_1589441)",(SKU_439441),0.001664,0.009103,0.000474,0.284900,31.298819,0.000459,1.385677
290,"(SKU_439441, SKU_1589441)",(SKU_1049441),0.001375,0.009193,0.000474,0.344828,37.511159,0.000461,1.512285
291,(SKU_1049441),"(SKU_439441, SKU_1589441)",0.009193,0.001375,0.000474,0.051573,37.511159,0.000461,1.052928
292,(SKU_439441),"(SKU_1049441, SKU_1589441)",0.009103,0.001664,0.000474,0.052083,31.298819,0.000459,1.053190
293,(SKU_1589441),"(SKU_1049441, SKU_439441)",0.008207,0.001721,0.000474,0.057770,33.568551,0.000460,1.059486
294,"(SKU_1869441, SKU_459441)",(SKU_1069441),0.001550,0.010018,0.000493,0.318043,31.748439,0.000478,1.451678
299,(SKU_1069441),"(SKU_1869441, SKU_459441)",0.010018,0.001550,0.000493,0.049219,31.748439,0.000478,1.050137
319,"(SKU_2078810, SKU_1571243)",(SKU_5901243),0.000318,0.009273,0.000104,0.328358,35.409135,0.000101,1.475082
322,(SKU_5901243),"(SKU_2078810, SKU_1571243)",0.009273,0.000318,0.000104,0.011247,35.409135,0.000101,1.011054
336,"(SKU_4912330, SKU_5901243)",(SKU_1571243),0.000773,0.009297,0.000251,0.325153,34.974134,0.000244,1.468042
337,"(SKU_4912330, SKU_1571243)",(SKU_5901243),0.000749,0.009273,0.000251,0.335443,36.173141,0.000244,1.490808
340,(SKU_5901243),"(SKU_4912330, SKU_1571243)",0.009273,0.000749,0.000251,0.027096,36.173141,0.000244,1.027081
341,(SKU_1571243),"(SKU_4912330, SKU_5901243)",0.009297,0.000773,0.000251,0.027027,34.974134,0.000244,1.026984
343,"(SKU_9972087, SKU_1571243)",(SKU_5901243),0.000498,0.009273,0.000147,0.295238,31.837565,0.000142,1.405761
346,(SKU_5901243),"(SKU_9972087, SKU_1571243)",0.009273,0.000498,0.000147,0.015849,31.837565,0.000142,1.015598

In [88]:
skuinfo[skuinfo['SKU'].isin([1049441,1589441,439441])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
68584,439441,4505,404,400009441043,2BAO 581965,NAVY,34,1,5745232,POLO FAS
163747,1049441,4505,404,400009441104,7BAO 581972,UNFR KHAKI,34,1,5745232,POLO FAS
248103,1589441,4505,404,400009441158,3BAO 581965,SAND,34,1,5745232,POLO FAS

In [89]:
skuinfo[skuinfo['SKU'].isin([1869441,459441,1069441])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
71637,459441,4505,404,400009441045,2BAO 581965,NAVY,36,1,5745232,POLO FAS
166877,1069441,4505,404,400009441106,7BAO 581972,UNFR KHAKI,36,1,5745232,POLO FAS
291253,1869441,4505,404,400009441186,3BAO 581965,SAND,36,1,5745232,POLO FAS

In [90]:
skuinfo[skuinfo['SKU'].isin([1072340,6447365,9352339])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
167551,1072340,4505,216,400002340107,9 430070,BLACK,L,1,5745232,POLO FAS
1009867,6447365,4505,216,400007365644,1 431002,INK,L,1,5745232,POLO FAS
1463779,9352339,4505,216,400002339935,0 430071,WHITE,L,1,5745232,POLO FAS

In [91]:
skuinfo[skuinfo['SKU'].isin([2078810,1571243,5901243,4912330,9972087])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
245379,1571243,4505,302,400001243157,3VPP 650185,SPA BLUE,ONE,1,5715232,POLO FAS
323397,2078810,4505,302,400008810207,5VPP 651649,BSC WHITE,ONE,1,5715232,POLO FAS
769457,4912330,4505,302,400002330491,3VPP 656523,VALOR RED,ONE,1,5715232,POLO FAS
925021,5901243,4505,302,400001243590,7VPP 656475,OASIS YELL,ONE,1,5715232,POLO FAS
1560073,9972087,4505,302,400002087997,2VPP 650100,RELAY BLUE,ONE,1,5715232,POLO FAS

In [92]:
skuinfo[skuinfo['SKU'].isin([5709431,3269431,6149446])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
510957,3269431,4505,404,400009431326,3BRG 581965,SAND,36,1,5745232,POLO FAS
894494,5709431,4505,404,400009431570,2BRG 581965,NAVY,36,1,5745232,POLO FAS
963876,6149446,4505,404,400009446614,7BRG 581972,UNFR KHAKI,36,1,5745232,POLO FAS

In [93]:
skuinfo[skuinfo['SKU'].isin([4898351,5228351,5549233,5748351])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
767035,4898351,4505,107,400008351489,2AEB 793365,CLSC BLUE,L,1,5745232,POLO FAS
818845,5228351,4505,107,400008351522,5AEB 793365,CLSC WHITE,L,1,5745232,POLO FAS
869386,5549233,4505,107,400009233554,6AEB 790003,W/W INDIGO,L,1,5745232,POLO FAS
900529,5748351,4505,107,400008351574,7AEB 793365,BLU/WHT STR,L,1,5745232,POLO FAS

In [94]:
skuinfo[skuinfo['SKU'].isin([6457365,9432339,8613189])]

,SKU,Dept,ClassID,UPC,Style,Color,Size,Packsize,Vendor,Brand
1011459,6457365,4505,216,400007365645,1 431002,INK,XL,1,5745232,POLO FAS
1348989,8613189,4505,216,400003189861,9 435866,WICKET YEL,XL,1,5745232,POLO FAS
1476135,9432339,4505,216,400002339943,0 430071,WHITE,XL,1,5745232,POLO FAS

In [126]:
top.to_excel("output.xlsx")